.vs
.idea
_ReSharper.*

packages

[Bb]in
[Oo]bj

src/AllStarsTheater
src/AllStarsTheater.Private

unity/PlatiumTheater/[Bb]uild
unity/PlatiumTheater/[Bb]uilds
unity/PlatiumTheater/[Ll]ibrary
unity/PlatiumTheater/[Tt]emp
unity/PlatiumTheater/[Oo]bj
unity/PlatiumTheater/Assets/AssetStoreTools*

*.csproj.user
*.sln.user
*.DotSettings.user
*.DotSettings

*.data
*.[Pp]rivate.cs
